<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">-->
    <link rel="stylesheet" href="../static/css/dark-mode.css">
    <title>Team90s Dashboard</title>
    <style>
        .card{
            border-radius: 35px;
        }
        #carouselExampleSlidesOnly{
            position:fixed;
            width:100%;
            height:100%;
            z-index:-1;
        }
        .card{
            opacity: .8;
        }
        #ex1Slider .slider-selection, #ex1Slider .slider-track-high{
            background: #FFF9C4;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            height: 7px;

        }
        #ex1Slider {
            width: 300px;
        }

        /* .tooltip - background of tooltip */
        #ex1Slider  .tooltip-inner {
            background-color: #FFF9C4;
            border-radius: 15px;
            color: #000;
            font-weight: bold;
            margin-left: -3.5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        }

        #ex1Slider .slider-handle {
            background: #FFF9C4;
            width: 16px;
            height: 16px;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
            border: 1px solid rgba(0, 0, 0, 0);
        }

        /* This sets the color of the arrow that connects the tooltip to the handle */
        #ex1Slider .tooltip-arrow {
            border-top-color: #fafafa;
            margin-left: -7px;
            display: none;
        }

    </style>
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://35.223.157.34:5000">
            Team90s | Dashboard
        </a>
        <!-- dark mode switch -->
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch" />
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
        <script src="../static/js/dark-mode-switch.min.js"></script>
    </nav>

    <!-- carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/background1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/background2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/background3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Heat Map Setting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please choose a terminal: </p>
                    <select class="custom-select" id="terminalSelected">
                        <option selected>Please choose a terminal</option>
                        <option value="TPS1">TPS1</option>
                        <option value="TPS2">TPS2</option>
                        <option value="Piersul">Piersul</option>
                    </select>
                    <p>Please choose a level: </p>
                    <select class="custom-select" id="levelSelected">
                        <option selected>Please choose a level</option>
                        <option value="Level 1">Level 1</option>
                        <option value="Level 2">Level 2</option>
                        <option value="Level 3">Level 3</option>
                        <option value="Level 4">Level 4</option>
                    </select>
                    <p>Please choose a date to see: </p>
                    <input type="date" class="form-control" min="2019-08-01" max="2019-12-31" id="dateSelection">
                    <p>Please choose a start time: </p>
                    <input type="time" class="form-control" max="23:59" id="timeSelection">
                    <p>Please choose a range for time interval: (max 15 mins)</p>
                    <select class="custom-select" id="rangeSelected">
                        <option selected>Please choose a range</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary" id="heatmap" onclick="showMap()">Show map</a>
                </div>
            </div>
        </div>
    </div>

    <!-- page content -->
    <div class="container" style="margin-top: 20%">
        <!--first row-->
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center bg-light mb-3" style="width: 32rem; height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 80px">Heatmap</h5>
                        <p class="card-text">Check out the heat map of terminals.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">See map</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center bg-light mb-3" style="width: 32rem; height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 80px">Demo</h5>
                        <p class="card-text">Check out passengers trajectories and recommendation demo.</p>
                        <a href="#" class="btn btn-primary" id="demo">See passengers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script>


    function showMap(){
        var terminal = document.getElementById("terminalSelected").value;
        var level = document.getElementById("levelSelected").value;
        var date = document.getElementById("dateSelection").value;
        var time = document.getElementById("timeSelection").value;
        var range = document.getElementById("rangeSelected").value;
        var data = {Terminal:terminal, Level:level, Date:date, Time:time, Range:range};
        console.log(data)
        fetch("http://35.223.157.34:5000/queryHeatmap", {
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(res => res.text())
        .then((url) => {
            location.replace(url);
        })
    }

    window.onload = function () {
        document.getElementById("demo").setAttribute("href", document.URL+"demo");
    }
</script>

</body>
</html>